<header>
  <div class="top">
    <div class="container-fluid">
      <div id="banniere-rs" class="d-flex justify-content-end align-items-center w-100">
        <div class="text-right">
          <ul class="social mt-3">
            <li>
              <a href="#" class=""><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#" class="">
                <i class="fab fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <a href="{% link devis.html %}" class="top-btn">Devis en ligne</a>
        </div>
      </div>
    </div>
  </div>

</header>

<section class="Navbar navbar-main fixedNav">
  <nav class="navbar Navbar_main navbar-expand-lg fixedNav">
    <div class="container to-col">
      <div class="Navbar_image to-show-990">
        <a href="{% link accueil.html %}" title="Accueil"><img loading="lazy" src="./assets/img/logo.png"
          class="Navbar_image-img" alt="Logo" /></a>
      </div>
      <button class="navbar-toggler Navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars toggle-button Navbar_toggler-icon" aria-hidden="true"></i>
    </button>
      <div class="collapse navbar-collapse Navbar_nav-collapse" id="navbarNav">
        <ul class="navbar-nav Navbar_nav w-100">
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link Navbar_nav-link" title="Accueil" href="{% link accueil.html %}"> Accueil</a>
          </li>
          <!-- <li class="nav-item Navbar_nav-item">
            <a class="nav-link Navbar_nav-link" title="Nos Prestations" href="{% link nos-prestations.html %}">  </a>
          </li> -->
          <li class="nav-item dropdown Navbar_nav-item">
            <a class="nav-link {% if page.url == '/' %} Navbar_nav-link {% else %} Navbar_nav-link2 {% endif %} dropdown-toggle d-flex align-items-center"
                href="{% link nos-prestations.html %}" id="navbarDropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Nos prestations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="py-3 dropdown-item {% if page.url == '/je-suis-un-cabinet-comptable' %} Navbar_nav-link inner-active {% else %} Navbar_nav-link2 {% endif %}"
                    href="{% link je-suis-un-cabinet-comptable.html %}">Je suis un Cabinet comptable</a>
                <hr class="Navbar_nav-hr">
                <a class="py-3 dropdown-item {% if page.url == '/je-suis-une-entreprise' %} Navbar_nav-link inner-active {% else %} Navbar_nav-link2 {% endif %}"
                    href="{% link je-suis-une-entreprise.html %}">Je suis une entreprise</a>
                <hr class="Navbar_nav-hr">
            </div>
        </li>
        
          <li class="nav-item Navbar_nav-item to-hide-990">
            <a href="{% link accueil.html %}" title="Accueil"><img loading="lazy" src="./assets/img/logo.png"
                class="Navbar_image-img" alt="Logo" /></a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link Navbar_nav-link" title="Notre entreprise" href="{% link notre-entreprise.html %}">Notre entreprise</a>
          </li>
          <li class="nav-item Navbar_nav-item">
            <a class="nav-link Navbar_nav-link" title="Nous contacter" href="{% link contact.html %}"> Nous contacter </a>
          </li>
          <li class="nav-item Navbar_nav-item to-show-990">
            <a href="{% link devis.html %}" class="top-btn">Devis en ligne</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>