<section class="slider">
  <div class="container">
    <div class="slider_content">
      <h1 class="slider_content-title">
        Externalisez vos tâches comptables avec <strong>INSIGHT CONSULTING</strong> : une solution efficace et rentable
      </h1>
      <div class="slider_content-button">
        <a href="{% link notre-entreprise.html %}" class="slider_content-button--a">
          EN SAVOIR PLUS
          <img src="../assets/img/btn-arrow.png" alt="Arrow Icon" class="slider_content-button--img">
        </a>
      </div> 
    </div>
  </div>
</section>