---
---

* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #084574;
  --color-secondary: #38C0F0;
  --font-primary: "Inter", Helvetica, Arial, sans-serif;
}

*::selection {
  background-color: var(--color-primary);
  color: #fff !important;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5% !important; // 1rem = 10px, 10px/16px = 62.5%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  line-height: 1.5;
  color: #545454;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100%;
  background-color: #fff !important;
  color: #333;
  overflow-x: hidden !important;
  // background-color: #F5F7FA !important;
}

.bg-sec-link{
  background: var(--color-secondary) !important;

  &:hover{
    transition: .2s all ease-in-out;
    background: var(--color-primary) !important;
    color: #fff !important;
    cursor: pointer;
  }
}

.collapse.show{
  z-index: 1000000;
}

header .top {
  background-color: #fff;
  padding: 1rem 0px;
  position: relative;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

ul.social li {
  display: inline-block;
}

ul.social li a {
  color: var(--color-primary);
}

header .social a {
  color: #fff;
  padding-right: 1rem;

  &:hover{
    text-decoration: none;
  }
}

header .top a {
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary);
  line-height: 1.4;
  letter-spacing: 0px;
  font-size: 1.4rem;
}

.top i {
  color: var(--color-primary);
  font-size: 2rem;
  padding-right: .3rem;
}

.top-btn{
  color: #fff !important;
  background-color: var(--color-primary);
  padding: 1rem 3rem !important;
  border-radius: .5rem !important;
  font-size: 1.4rem !important;
  line-height: 2.9rem !important;
  border: none;
  font-family: "Inter", sans-serif !important;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 600;
  transition: 0.3s;
  text-transform: none !important;
  white-space: nowrap;
  width: 100%;


  @media only screen and (max-width: 1400px) {
    font-size: 1.4rem;
    margin-right: 0rem;
  }

  @media only screen and (max-width: 1200px) {
    margin-right: 0 !important;
    padding: .5rem 1rem !important;
  }

  @media only screen and (max-width: 1100px) {
    font-size: 1rem;
  }

  @media only screen and (max-width: 990px) {
    margin-top: 2rem;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-primary) !important;
    background-color: var(--color-secondary) !important;
    box-shadow: none;
    transition: all .3s;
    cursor: pointer;
  }
}


.Navbar {
  background: transparent;
  z-index: 10000 !important;
  width: 100%;
  max-width: 100%;
  transition: .5s all ease-in-out;
  padding: 1rem 0 !important;
  background: #fff;

  @media only screen and (max-width: 1600px) {
    padding: 0 0 !important;
  }

  @media only screen and (max-width: 1200px) {
    padding: 0 0 !important;
  }

  &_main {

  }

  &_image {
    //margin-right: 14rem;

    @media only screen and (max-width: 1400px) {
      display: block;
    }

    @media only screen and (max-width: 990px) {
      display: block;
      margin-right: 0 !important;
    }

    &-img {
      width: 15.6rem;
      height: 9.6rem;
      max-height: auto;
      object-fit: contain;
      margin-top: -1.5rem;

      // @media only screen and (max-width: 1400px) {
      //   width: auto;
      // }

      @media only screen and (max-width: 990px) {
        max-height: 6rem !important;
      }

      // @media only screen and (max-width: 768px) {
      //   max-height: 4rem !important;
      // }

    }
  }

  &_toggler {
    color: var(--color-primary) !important;

    &-icon {
      font-size: 3rem;

      @media only screen and (max-width: 768px) {
        font-size: 2.4rem;
      }
    }
  }

  &_nav {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
    gap: .5rem;
    transition: all .5s fade-in;
    margin-top: -1rem;

    @media only screen and (max-width: 1300px) {
      gap: .5rem;
    }

    @media only screen and (max-width: 1100px) {
      gap: 1rem;
    }


    @media only screen and (max-width: 990px) {
      background-color: #eee;
      padding: 2rem 3rem !important;
      margin-top: 1rem;
    }

    &-collapse{

      @media only screen and (max-width: 990px) {
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 .5rem;

      @media only screen and (max-width: 1600px) {
        margin-right: 2px !important;
        margin-left: 2px;
      }

      @media only screen and (max-width: 990px) {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        text-align: left;
      }
    }

    &-link {
      color: #084574;
      font-family: "Inter", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: none;
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 990px) {
        white-space: normal !important;
      }  
 

      &:hover {
        width: auto !important;
        color: var(--color-secondary) !important;
        cursor: pointer;
      }
    }

    &-link2 {
      color: #000;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: none;
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 990px) {
        white-space: normal !important;
        font-size: 1.6rem;
        color: #000;
      }  

      &:hover {
        width: auto !important;
        color: var(--color-primary) !important;
        cursor: pointer;
      }
    }

    &-btn {
      color: #fff;
      background-color: #01803B;
      padding: .6rem 1rem !important;
      border-radius: 1rem !important;
      font-size: 1.6rem !important;
      line-height: 2.9rem !important;
      border: none;
      font-family: "Montserrat", sans-serif !important;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      font-weight: 600;
      transition: 0.3s;
      text-transform: none !important;
      white-space: nowrap;


      @media only screen and (max-width: 1400px) {
        font-size: 1.4rem;
        margin-right: 0rem;
      }

      @media only screen and (max-width: 1200px) {
        margin-right: 0 !important;
        padding: .5rem 1rem !important;
      }

      @media only screen and (max-width: 1100px) {
        font-size: 1rem;
      }

      @media only screen and (max-width: 990px) {
        padding: 1rem !important;
        font-size: 1.4rem;
        color: #000 !important;
        margin-top: 2rem;
      }

      &:hover {
        text-decoration: none;
        color: var(--color-primary) !important;
        background-color: var(--color-secondary) !important;
        box-shadow: none;
        transition: all .3s;
        cursor: pointer;
      }
    }

    &-image{
      width: 10rem;
      height: 8.3rem;
      margin-top: 2rem;
      margin-right: 2rem;
      max-width: 10rem;

      &--img{
        object-fit: cover;
        max-width: 10rem;
      }

      &--img2{
        object-fit: cover;
        max-width: 14rem;
        background-color: #fff !important;
      }
    }
  }
}

legend {
  font-family: "Lato", sans-serif !important;
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 2rem !important;
  font-size: 2.1rem !important;
  line-height: inherit !important;
  color: #333 !important;
  border: 0 !important;
  border-bottom: .1rem solid #e5e5e5 !important;
}

.l-bold{
  font-family: "Lato", sans-serif !important;
  font-size: 1.6rem !important;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 700;
  text-align: left !important;
  display: flex !important;
}

.l-bold2{
  font-family: "Lato", sans-serif !important;
  font-size: 1.6rem !important;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500;
  text-align: left !important;
  display: flex !important;
}

.checkbox label{
  text-transform: none !important;
}



fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
  
.to-d-flex{
  display: flex;

  @media only screen and (max-width: 990px) {
    flex-direction: column;
  }
}

.navbar-active {
  position: fixed !important;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
  background-color: #fff !important;
  border: 0 !important;
  top: 0 !important;
  left: 0 !important;
  transition: .2s;
  z-index: 10000 !important;
}

.navbar-active .Navbar_main {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;

  @media only screen and (max-width: 990px) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.navbar-active .Navbar_nav-link{
  color: #000 !important;
}

.navbar-active .Navbar_image-img{
  margin-top: 0 !important;
  height: 6rem !important;
  // @media only screen and (max-width: 990px) {
  //   max-width: 100% !important;
  // }
}

.navbar-active .to-show-990{
  display: inline !important;
}

.navbar-active .to-hide-990{
  display: none !important
}

.navbar-active .Navbar_nav-link2{
  color: #000 !important;
}

// .navbar-active .Navbar_nav-btn{
//   color: #000 !important;
// }

.navbar>.container-fluid {
  flex-wrap: nowrap !important;
}

.dropdown-menu{
  background-color: var(--color-primary) !important;
  z-index: 100000 !important;
  position: relative;
}

.header {
  position: relative;
  display: flex;
  height: 100vh; 
  max-height: 100vh; 
  background: #000;
  overflow: hidden;
  z-index: 0;

  @media only screen and (max-width: 1400px) {
    height: 80vh; 
  }

  @media only screen and (max-width: 990px) {
    height: 60vh; 
  }

  @media only screen and (max-width: 768px) {
    height: 40vh; 
  }

  @media only screen and (max-width: 500px) {
    height: 35vh; 
  }

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(54, 54, 54, 0.5) !important;
      z-index: -1;
      transition: 0.5s;
  }

  &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 0;
      padding-bottom: 66.25%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 0;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(54, 54, 54, 0.5) !important;
          z-index: -1;
          transition: 0.5s;
      }
  }

  &__video-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), visibility 0.5s linear;
      z-index: 0;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(54, 54, 54, 0.5) !important;
          z-index: -1;
          transition: 0.5s;
      }

      &--fadeOut {
          opacity: 0;
          visibility: hidden;
      }
  }

  iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 0;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(54, 54, 54, 0.5) !important;
          z-index: -1;
          transition: 0.5s;
      }
  }

  &__title {
      position: relative;
      flex: 0 0 auto;
      align-self: center;
      width: 100%;
      font-family: 'Permanent Marker', cursive;
      font-size: 5rem;
      font-weight: normal;
      text-align: center;
      color: white;
      line-height: 1;
  }
}


.slider {
  position: relative;
  background-image: url("../img/slider.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding: 27rem 0;

  @media only screen and (max-width: 990px) {
   height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0), rgba(217, 217, 217, 0)),
linear-gradient(269.77deg, rgba(196, 196, 196, 0) -12.45%, rgba(56, 192, 240, 0.75) 61.7%);

    z-index: -1;
    transition: 0.5s;
  } 

  @media only screen and (min-width: 2200px) {
    padding: 7rem 0;
  }

  @media only screen and (max-width: 1800px) {
    padding: 27rem 7rem;
  }


  @media only screen and (max-width: 1600px) {
    padding: 27rem 7rem;
  }


  @media only screen and (max-width: 1200px) {
    padding: 14rem 2rem;
    padding-top: 20rem;
  }

  @media only screen and (max-width: 1100px) {
    padding: 14rem .5rem;
    padding-top: 20rem;
  }

  @media only screen and (max-width: 1000px) {
    padding: 18rem 0;
  }

  @media only screen and (max-width: 990px) {
    padding: 17rem 2rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 7rem 0rem;
    clip-path: none;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: var(--color-primary);
  //   opacity: 0.5;
  //   transition: 0.5s;
  // }

  &_content {
    position: relative;
    width: 50%;

    @media only screen and (max-width: 1200px) {
      width: 100%;
    }

    @media only screen and (max-width: 768px) {
      margin-top: 7rem;
    }

    @media only screen and (max-width: 600px) {
      padding-top: 1rem;
      padding-bottom: 14rem;
    }

    &-title {
      color: #FFF;
      font-family: "Lato", sans-serif;
      font-size: 4.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
}

.slider_content-button {
  position: relative;
  display: inline-block;
  margin-top: 3rem;

  &--a {
    display: inline-block;
    position: relative;
    padding: 1.5rem 8rem 1.5rem 2rem; // Adjusted padding to make room for the image
    border-radius: 0.6rem;
    background: var(--color-primary);
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 140%;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
      background-color: var(--color-secondary);
      color: #fff;
    }

    // Ensure image doesn't push the text
  }

  &--b {
    display: inline-block;
    position: relative;
    padding: 1.5rem 8rem 1.5rem 2rem; // Adjusted padding to make room for the image
    border-radius: 0.6rem;
    background: #fff;
    color: var(--color-primary);
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 140%;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
      background-color: var(--color-primary);
      color: #fff;
    }

  }

  &--c {
    display: inline-block;
    position: relative;
    padding: 1.5rem 8rem 1.5rem 2rem; // Adjusted padding to make room for the image
    border-radius: 0.6rem;
    background: var(--color-primary);
    color: #fff;
    font-family: "Inter", sans-serif;
    border: .1rem solid var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 140%;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;

    @media only screen and (max-width: 990px) {
      white-space: normal;
    }

    &:hover {
      text-decoration: none;
      background-color: var(--color-secondary);
      color: #fff;
    }

    // Ensure image doesn't push the text
  }

  &--img {
    position: absolute;
    right: 1rem;  // Space from the right edge
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: 5.1rem; // Adjust the size to fit the button
    height: 5.3rem;
    background-color: var(--color-secondary) !important;
    transform: rotate(180deg);
    object-fit: cover;
    padding: 1rem;
  }

  @media only screen and (max-width: 768px) {
    text-align: center;
    display: flex;
    justify-content: center;
    
    &--a {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}



.menu{

  &_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
   
  }
  }

  &_card1{
    width: 44rem;
    height: 42rem;
    background: linear-gradient(180deg, #38C0F0 0%, #206E8A 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid #38C0F0;
    box-shadow: 0px .6rem 2rem .3rem #1F64FF4D;
    padding: 4rem;
    border-radius: .5rem;

    @media only screen and (max-width: 600px) {
      width: 100%;
      gap: 1rem;
   
  }

    &-ul{
      list-style: none;
    }

    &-title{
      color: #fff;
      font-family: "Lato", sans-serif;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      margin: 2rem 0;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

    &-icon{
      margin-top: .5rem;
      margin-right: .5rem;
    }

    &-icon2{
      color: var(--color-secondary);
      margin-top: .5rem;
      margin-right: .5rem;
    }

    &-li{
      display: flex;
      gap: .5rem;
      color: #fff;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      text-align: justify;
      margin: .5rem 0;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

  }

  &_card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39.3rem;
    height: 33rem;
    border: .1rem solid #38C0F0;
    padding: 4rem 2rem;

    @media only screen and (max-width: 600px) {
      width: 100%;
      gap: 1rem;
   
  }
  }

  &_content{

    &-button{

      &--img{
        width: 6.9rem;
        max-width: 100%;
        height: 6.9rem;
        margin: 0 1rem;
      }

      &--btn1{
        display: inline-block;
        position: relative;
        padding: 1.5rem 2rem 1.5rem 2rem; // Adjusted padding to make room for the image
        border-radius: 0.6rem;
        background: transparent;
        border: .1rem solid var(--color-primary);
        color: var(--color-primary);
        font-family: "Inter", sans-serif;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 500;
        line-height: 140%;
        transition: all 0.3s ease-in-out;

        @media only screen and (max-width: 990px) {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem auto;
        }

        &:hover {
          text-decoration: none;
          background-color: var(--color-secondary);
          color: #fff;
        }
      }
    }

    &-title{
      color: var(--color-primary);
      font-family: "Lato", sans-serif;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      margin: 2rem 0;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

    &-title2{
      color: var(--color-primary);
      font-family: "Lato", sans-serif;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;
      margin: 1rem 0;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

    &-p{
      color: var(--color-primary);
      font-family: "Lato", sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      text-align: justify;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

    &-icon{
      color: var(--color-secondary);
      font-size: 7rem;
      font-weight: 400;

      @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
       }
    }

    &-line{
      width: .3rem;
      height: 9rem;
      color: var(--color-secondary);
      background-color: var(--color-secondary);

      @media only screen and (max-width: 990px) {
        display: none;
       }
    }
  }

  &_image{
    position: relative;

    &-img{
      width: 100%;
      max-width: 100%;
      height: 59.3rem;
      object-fit: cover;
    }

    &-img2{
      width: 100%;
      max-width: 100%;
      height: 46rem;
      object-fit: cover;
    }

    &-partner{
      width: 14rem !important;
      max-width: 100%;
      height: 14rem !important;
      object-fit: contain;
      margin: 0 2rem;
    }
  }

  &_bg{
    background-color: var(--color-primary);
    padding: 2rem 7rem;
    margin-top: 1rem;

    &-col{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 4rem 0;

      &--hr{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #38C0F04D !important;
        margin: 1rem auto;
        margin-top: 2rem;
        color: #38C0F04D !important;
      }

      &--icon1{
        display: flex;
        gap: 4rem;
        color: var(--color-secondary);
        font-size: 2rem;
      }

      &--p{
        color: #fff;
        font-family: "Lato", sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
  
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }

      &--icon2{
        color: #fff;
        font-size: 2rem;
      }
    }
  }

  &_logocard{
    position: absolute;
    top: 80%;
    right: 10%;
    box-shadow: .1rem .7rem 1.7rem 0px #00000040;
    background-color: #fff;
    width: 27.7rem;
    height: 27.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border-radius: 1rem;

    @media only screen and (max-width: 768px) {
      top: .5rem;
      left: 2rem;
    }

    &-img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}

.f-w-500{
  font-weight: 300 !important;
}

.to-show-990{
  display: none !important;

  @media only screen and (max-width: 990px) {
    display: inline !important;
  }
}

.to-hide-990{

  @media only screen and (max-width: 990px) {
    display: none !important;
  }
}

.text-black{
  color: #000 !important;
}

.menu2{
  padding-left: 27rem !important;
  padding-right: 7rem !important;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100% !important;

  @media only screen and (max-width: 1400px) {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
  }

  @media only screen and (max-width: 990px) {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    margin-top: 1rem
  }
}



.section {
  font-family: 'Montserrat', sans-serif;
  padding: 7rem 24rem;

  @media only screen and (min-width: 2200px) {
    padding: 7rem .5rem;
  }

  @media only screen and (max-width: 1800px) {
    padding: 7rem 24rem;
  }


  @media only screen and (max-width: 1600px) {
    padding: 7rem 17rem;
  }


  @media only screen and (max-width: 1200px) {
    padding: 5rem 7rem;
  }

  @media only screen and (max-width: 1100px) {
    padding: 5rem .5rem;
  }

  @media only screen and (max-width: 1000px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 990px) {
    padding: 5rem 2rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 5rem 0rem;
  }
}

.section-y {
  font-family: 'Lato', sans-serif;
  padding: 7rem 0;

  @media only screen and (min-width: 2200px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 1800px) {
    padding: 7rem 0;
  }


  @media only screen and (max-width: 1600px) {
    padding: 7rem 0;
  }


  @media only screen and (max-width: 1200px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 1100px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 1000px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 990px) {
    padding: 5rem 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 5rem 0rem;
  }
}

.stripe{
  position: relative;
  background-image: url("../img/stripe.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  margin-top: 10rem;

  @media only screen and (max-width: 990px) {
   height: 100%;
  }

  &_content{
    padding: 14rem 0;

    &-title{
      white-space: nowrap;

      @media only screen and (max-width: 1200px) {
        white-space: normal !important;
       }
    }
  }

  &_marker{
    position: absolute;
    right: 38%;
    margin-top: 1rem;

    &-img{
      width: 6.5rem;
      height: 6.5rem;
      object-fit: cover;
    }
  }
}

.stripe2{
  background-color: var(--color-primary) !important;

  @media only screen and (max-width: 768px) {
        padding: 2rem 0; 
     
    }

  &_content{
    padding: 3rem 0;
  }

  &_images{
    @media only screen and (max-width: 768px) {
     margin-bottom: 5rem;
      
     }

    &-triangle{
      position: absolute;
      bottom: -10rem;
      left: 0;
      right: 0;

      @media only screen and (max-width: 768px) {
        position: relative;

       }
    }

    &-man{
      position: relative;
    }

    &-img1{
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;    
      
      @media only screen and (max-width: 768px) {
        width: 17.7rem;
        height: 16.8rem;
       }
    }

    &-img2{
      width: 100%;
      max-width: 100%;
      height: auto;
      position: absolute;
      bottom: -10rem;
      left: 3rem;
      right: 0; 
      
      @media only screen and (max-width: 768px) {
        width: 19.6rem;
        height: 18.6rem;
       }
    }

    &-women{
      width: 100%;
      max-width: 100%;
      height: 17.9rem;
      position: absolute;
      bottom: -10rem;
      left: 0rem;
      right: 0;   
      object-fit: cover;  

      @media only screen and (max-width: 1200px) {
        height: auto;
       }

       @media only screen and (max-width: 768px) {
        width: 19.6rem;
        height: 18.6rem;
       }
    }
  }
}

.black{
  position: relative;
  background-image: url("../img/blackbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding: 10rem 0;

  @media only screen and (max-width: 990px) {
   height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    transition: 0.5s;
  } 

  &_inner{
    margin-bottom: -12rem;
  }

  &_form{

    &-input{
      font-family: 'Inter', serif;
      background: transparent;
      border: 0;
      outline: none;
      border: .2rem solid #979797;
      color: #75797A;
      height: 4.2rem;
      padding: 1.2rem 4.3rem 1.2rem 1.3rem;
      display: block;
      width: 100%;
      max-width: 100%;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      border-radius: .6rem;
    }

    &-labeltitle{
      display: flex;
      gap: .5rem;
      color: #000;
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      text-align: justify;
      margin: .5rem 0;
    }

    &-label{
      display: flex;
      gap: .5rem;
      color: #000;
      font-family: "Lato", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      text-align: justify;
      margin: .5rem 0;
    }

    &-button{
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      background-color: var(--color-primary);
      border-radius: .8rem;
      padding: .7rem 1.5rem;
      margin-top: 3rem;
      width: 100%;
      outline: none;
      border: none;

      &:hover {
        text-decoration: none;
        background-color: var(--color-secondary) !important;
        transition: .3s all ease-in-out;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
      }
    }

  }

  &_content{

    &-img{
      width: 15.6rem;
      max-width: 100%;
      height: 9.6rem;
      object-fit: cover;
      display: flex;
      justify-content: center;
      margin: 1rem auto;
    }

    &-title{
      color: var(--color-secondary);
      font-family: "Lato", sans-serif;
      font-size: 4.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5;
      margin: 1rem 0;
      text-align: center;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }

  &_stripe{
    background-color: var(--color-primary);
    margin-top: 5rem;

    &-img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    &-content{
      padding: 1rem;


      &--p{
        color: #fff;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
  
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }

      &--link{
        color: #fff;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
  
        @media only screen and (max-width: 768px) {
          text-align: center !important;
          display: flex;
          justify-content: center;
        }

        &:hover{
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.bg-grey{
  margin-top: 7rem;
  background-color: #F6FBFF !important;
}


.f-w-900{
  font-weight: 900 !important;
}

::placeholder{
  font-size: 1.4rem !important;
}


select{
  font-size: 1.4rem !important;
}


.footer{
  background-color: var(--color-primary);
  padding: 5rem 0;
  padding-bottom: 0;

  &_logo{

    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }

    &-img{
      width: 22.6rem;
      max-width: 100%;
      height: 14rem;
      object-fit: cover;

      @media only screen and (max-width: 768px) {
        width: auto;
      }
    }
  }

  &_content{

    &-ul{
      color: var(--background, #FFF);
      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }

    &-li{
      margin: 1rem 0;
      margin-left: 1rem;

      &--p{
        color:#FFF;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      &--link{
        color:#FFF;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        &:hover{
          text-decoration: none;
          color: var(--color-secondary);
          transition: .3s all ease-in-out;
          cursor: pointer;;
        }
      }
    }
  }
}

.f-18{
  font-size: 2.4rem;
  margin: 0 .5rem;
}


.banner{
  position: relative;
  background-image: url("../img/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding: 14rem 0;

  @media only screen and (max-width: 990px) {
   height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0), rgba(217, 217, 217, 0)),
linear-gradient(269.77deg, rgba(196, 196, 196, 0) -12.45%, rgba(56, 192, 240, 0.75) 61.7%);

    z-index: -1;
    transition: 0.5s;
  } 
}


.wave{
  position: relative;

  &_left{
    width: 38.3rem;
    height: 36.3rem;
    position: absolute;
    top: 10%;
    left: 0;
  }

  &_right{
    width: 54.1rem;
    height: 81.2rem;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -1;

  }

  &_card{
    width: 30.0rem;
    height: 46.7rem;
    background: var(--color-primary);
    border: .1rem solid #38C0F0;
    box-shadow: 0px .6rem 2rem .3rem #1F64FF4D;
    padding: 1.5rem 2rem;
    border-radius: .5rem;

    @media only screen and (max-width: 990px) {
      width: 100%;
      height: 100%;
      
    }

    &-title{
      color: #fff;
      font-family: "Lato", sans-serif;
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
      margin: 1rem 0;
      text-align: left;
      gap: 1rem;
      align-items: center;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

    &-icon{
      font-size: 3rem;
      color: var(--color-secondary)
    }
  }
}


.to-right{
  margin-right: -15rem !important;

  @media only screen and (max-width: 1200px) {
    margin-right: 0rem !important;
    justify-content: center;
    margin: 0 auto;
  }
}

.to-left{
  margin-left: -15rem !important;

  @media only screen and (max-width: 1200px) {
    margin-left: 0rem !important;
    justify-content: center;
    margin: 0 auto;
  }
}

.m-t-neg{
  margin-top: -5rem !important;

  @media only screen and (max-width: 1200px) {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
  }
}

.contact{

  &_info {
    display: flex;
    align-items: center;

    &-icon {
      display: inline-block;
      flex-shrink: 0;
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      text-align: center;
      line-height: 9rem;
      background: var(--color-secondary);
      color: #fff;
      font-size: 3rem;
    }

    &-content {
      display: inline-block;
      padding-left: 2rem;

      &--title {
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: #000;
        margin: 1.5rem 0 1rem;
        line-height: 1.2;
      }

      &--p {
        font-family: "Lato", sans-serif;
        color: #747474;
        font-size: 1.4rem;
        text-align: justify;
        line-height: 1.7;
        font-weight: 400;
        @media (max-width: 500px) {
          font-size: 1.2rem;
        }
      }

      &--link {
        font-weight: 400;
        color: #333;
        @media (max-width: 500px) {
          font-size: 1.2rem;
        }

        &:hover {
          transition: .2s all ease-in-out;
          color: var(--color-primary);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}



// Imports
@import "bootstrap";


.dropdown.active {
  a.dropdown-item{
    color: $body-color!important;
    &.active{
      color: $white!important;
    }
  }
}
